#Git
.git
.gitignore

# Docker
.docker

#cache
./__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
**/__pycache__/
.pytest_cache/
*.pyc

# virtual env
.venv/
venv/
.env/
env/

#env variable
.env

#devtools
passwords.txt
bfg.jar
